/*img
{
    /* margin-left:auto; 
    /* margin-right:auto; 
    /* align-items: center; 
    margin:0px auto;
    height:"35" ;
    border-radius:"2px"
}*/

.first-sec{
    text-align:center;
}
/* .fornav{
    background-color: red;
} */

table,th,td
{
    border:2px solid black;
    border-collapse:collapse;
    padding:4px;
    border-spacing:5px;
}


th{
    background-color:green;
}

/* body{ */
    /* background-color:antiquewhite; */
/* } */



img{
    border-radius: 82%;
}

.education{
    margin-left:auto;
    margin-right:auto;
}

h2{
    float:right;
}

.container{
    /* background-color: rgb(42, 53, 53); */

    width:80%;
    border:5px solid black;
    padding:10px;
    margin-left:150px;
    background-color: antiquewhite;
}

/*.Objective{
    width:100%;
    padding:6px;
    background-color: gray;
    border:1px solid black;
}*/
